Category of type {{post.category.name}}, this {{post.title}} is of price {{post.price}} is
available by arrangement through {{post.author}}.
<br>
<p><img src={{post.image}} alt={{post.title}}></p>

<button {{action 'delete' post}}>Delete</button>
